{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <img src="../../../core/static/images/programmer-left.png">
    </div>
    <div class="col-md-8">
        <h3>We are excited you are joining our army of coders! You'll do great things!</h3>
    </div>
    <div class="col-md-2">
        <img src="../../../core/static/images/programmer-right.png">
    </div>
</div>

{% include "accounts/form_snippet.html" with form_title="Sign Up" %}

{% endblock %}
