
{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block active_link_contact %}
active
{% endblock %}

{% block content %}
<h3> Discover Great Projects To Work On </h3>

<div class="row">
  <div class =col-md-2>  
  </div>
  <div class =col-md-8>
    <p> Questions, comments? Shoot us an email! (Please be nice). </p>
        {% load bootstrap4 %}
        {# Display a form #}
            <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type=submit class="btn btn-block btn-dark custom-bg mt-4">Submit</button>
              {% endbuttons %}
          </form>
    </div>              
  <div class =col-md-2></div>
</div>
                    
{% endblock content %}  

