
{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block active_link_contact %}
active
{% endblock %}

{% block content %}

<div class="row mt-5">
  <div class="col-md-4"> 
      <img src="../../static/images/mailman.jpg"> 
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h4 class="mb-5"> Questions, comments? Shoot us an email! (Please be nice). </h4>
        {% load bootstrap4 %}
        {# Display a form #}
            <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type=submit class="btn btn-block btn-dark custom-bg text-uppercase mt-4">Submit</button>
              {% endbuttons %}
          </form>
    </div>              
</div>
                    
{% endblock content %}  

