<!DOCTYPE html>
<html lang="en">

    {% extends "base.html" %}

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {% block title %}
  Our Mission
  {% endblock title %}
    
  {% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="../../static/CSS/custom.css" rel="stylesheet">
</head>

<body>
    <div class=row>
        <div class =col-md-3></div>
        <div class =col-md-6>        
                    <div>
                      <h2>Why did we build this?</h2>
                        <p> Coding is hard. People are soft.</p>
                        <p> This app helps you use people to make coding less hard. </p>
                        <p> Thanks to all our hard work, you can now view github projects 
                            that people would like help with. Our innovative app shows you their project name, 
                            a nice description about what it is, and their tech stack in a sweet, sweet doughnut chart.</p>
                    </div>
        </div>
            <div class =col-md-3></div>
      </div>
                                              
{% endblock content %}  