{% extends "base.html" %}

{% block title %}
Our Mission
{% endblock title %}
 
{% block active_link_mission %}
active
{% endblock %}

{% block content %}
<img class="mission-img" src="../../static/images/mission.jpg">

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 margin-mission-text">
    <h3 class="mb-5">Why did we build this?</h3>
    <p> Coding is hard. People are soft.</p>
    <p> This app helps you use people to make coding less hard. </p>
    <p> Thanks to all our hard work, you can now view github projects 
        that people would like help with. Our innovative app shows you their project name, 
        a nice description about what it is, and their tech stack in a sweet, sweet doughnut chart.</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
                                                                   
{% endblock content %}  