<!DOCTYPE html>
<html lang="en">

    {% extends "base.html" %}

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {% block title %}
  <title> Discover Great Projects To Work On </title>
  {% endblock title %}
    
  {% block content %}
<h3> Discover Great Projects To Work On </h3>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="../../static/CSS/custom.css" rel="stylesheet">
</head>

<body>
        
                              <!-- <div class="navbar"> 
                                  <div class="navbar-inner">
                                      <ul class="nav">
                                        <a class="navbar-inner" href="home.html"></i> Home</a>
                                        <a class="navbar-inner" href="mission_statement.html" ></i> Mission</a>
                                        <a class="navbar-inner" href="contact.html"></i> Contact</a>
                                      </ul>
                                </div>
                              </div>

                              <br>
                            </br> -->

                            <div class="split left">
                             
                                    <div class="jumbotron">
                                            <div style="width:600px;height:500px;border:3px solid #000;">
                                                <p> List of posted projects ordered in descending order by date of creation </p>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

                                        <p> List of posted projects ordered in descending order by date of creation </p>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

                                        <p> List of posted projects ordered in descending order by date of creation </p>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

                                            </div>
                                      </div>
                                      </div>

                                      <div class="verticalline">
                                            
                                          </div>
                              
                              <div class="split right">
                                <div class="centered">
                                    <div class="jumbotron">
                                        <h1 class="display-4">Hello, world!</h1>
                                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                       
                                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                </div>
                              </div>

                        
                        </body>
                        </html>
                                              
                        {% endblock content %}  